datasets==4.8.4
einops==0.8.2
einops_exts==0.0.4
evaluate==0.4.6
jieba==0.42.1
torch==2.8.0
monai
nibabel==5.4.2
nltk==3.9.3
numpy
openai==2.32.0
pandas
peft==0.17.1
pycocoevalcap==1.2
rouge_score==0.1.2
safetensors==0.7.0
scikit_learn
scipy
tqdm==4.67.1
transformers==4.57.0
